<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>web</title>
  </head>
  <body>

    <div class="header">
      <div class="header-logo"> 
        <h1>KOKOIRO</h1>
      </div>
      <div class="header-navi">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Blog</li>
          <li>Gallery</li>
        </ul>
      </div>
    </div>

    <div class="main-visual">
      <div class="fast-view-image">
        <%= image_tag('image_03.jpg') %>
      </div>
      <div class="site-title">
        <h4>Photo Gallery<h4>
        <p>VIEW GALLERY</p>
      </div>
    </div>

  </body>
</html>