// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0;
	color: #333;
}
.content-width{
	width: 1024px;
	margin: 0 auto;
}
.content-bottom-margin{
	margin-bottom: 80px;
}
.header{
	height: 80px;
	display: flex;
	align-items: center;
	.site-title{
		h1{
			font-family: 'Maven Pro', sans-serif;
			letter-spacing: 0.1em;
			margin-left: 10px;
		}
	}
	.header-navi{
		display: flex;
		justify-content: right;
		ul{
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				padding-bottom: 5px;
				margin: 0 20px;
				border-bottom: solid 1px #333;
			}
		}
	}
}
.first-view-image{
	position: relative;
	img{
		width: 1024px;
		height: auto;
		opacity: 0.8;
	}
	h4{
		font-size: 38px;
		text-align: center;
		position: absolute;
		font-family: 'Maven Pro', sans-serif;
		color: white;
		z-index: 1;
		top: 45%;
		right: 0;
		left: 0;
		margin: auto;
		letter-spacing: 0.3em;
	}
}
.main-content{
	.content-title{
		text-align: center;
		font-family: 'Maven Pro', sans-serif;
		margin-bottom: 40px;
		letter-spacing: 0.2em;
	}
	.content-wrapper{
		.image-boxes{
			display: flex;
			margin-bottom: 40px;
			.image-box{
				img{
					width: 492px;
					height: 327px;
					object-fit: cover;
					opacity: 0.9;
					&:hover{
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
				&:first-child{
					padding-right: 40px;
				}
				p{
					font-family: 'Maven Pro', sans-serif;
					letter-spacing: 0.1em;
					font-weight: bold;
				}
			}
		}
	}
}

// 　-----------------タブレット-----------------
@media screen and (min-width: 768px) and (max-width: 1024px){
	.content-width{
		width: 90vw;
	}
	.first-view-image{
		img{
			width: 90vw;
			height: auto;
		}
	}
}
// -----------------スマートフォン-----------------
@media screen and (max-width: 767px) {
}
