// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0;
	color: #333;
}
.content-width{
	width: 1024px;
	margin: 0 auto;
}
.header{
	height: 80px;
	display: flex;
	align-items: center;
	.site-title{
		h1{
			font-family: 'Maven Pro', sans-serif;
			letter-spacing: 0.2em;
		}
	}
	.header-navi{
		ul{
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				padding-bottom: 5px;
				margin: 0 20px;
				border-bottom: solid 2px #333;
			}
		}
	}
}
.first-view-image{
	img{
		width: 1024px;
		height: auto;
	}
}

// 　-----------------タブレット-----------------
@media screen and (min-width: 768px) and (max-width: 1024px){
	.content-width{
		width: 90vw;
	}
	.first-view-image{
		img{
			width: 90vw;
			height: auto;
		}
	}
}
// -----------------スマートフォン-----------------
@media screen and (max-width: 767px) {
}
